version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - microservices-net
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"
    networks:
      - microservices-net

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - microservices-net


  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - microservices-net

#  jenkins:
#    image: jenkins/jenkins:lts
#    user: root
#    ports:
#      - "8081:8080"
#      - "50000:50000"
#    volumes:
#      - jenkins-data:/var/jenkins_home
#      - /var/run/docker.sock:/var/run/docker.sock
#    networks:
#      - microservices-net
#    command: |
#      bash -c "
#        echo '' > /var/jenkins_home/config.xml &&
#        echo '<?xml version=\"1.0\" encoding=\"UTF-8\"?>' > /var/jenkins_home/config.xml &&
#        echo '<hudson><useSecurity>false</useSecurity><authorizationStrategy class=\"hudson.security.AuthorizationStrategy\$Unsecured\"/></hudson>' >> /var/jenkins_home/config.xml &&
#        /usr/local/bin/jenkins.sh
#
#        apt-get update &&
#        apt-get install -y curl unzip docker.io &&
#
#        DOCKER_COMPOSE_VERSION=v2.31.0
#        curl -L \"https://github.com/docker/compose/releases/download/$${DOCKER_COMPOSE_VERSION}/docker-compose-linux-aarch64\" -o /usr/local/bin/docker-compose &&
#        chmod +x /usr/local/bin/docker-compose &&
#
#        PROTOC_VERSION=25.2
#        curl -LO https://github.com/protocolbuffers/protobuf/releases/download/v$${PROTOC_VERSION}/protoc-$${PROTOC_VERSION}-linux-aarch_64.zip &&
#        unzip -o protoc-$${PROTOC_VERSION}-linux-aarch_64.zip -d /usr/local &&
#
#        /usr/local/bin/jenkins.sh
#      "

  antiplagiarism:
    build: ./antiplagiarism
    ports:
      - "8080:8080"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
      - GRPC_CLIENT_ANALYSIS_SERVICE_ADDRESS=static://plagiarism-analysis-service:9091
    depends_on:
      rabbitmq:
        condition: service_healthy
      plagiarism-analysis-service:
        condition: service_started
    networks:
      - microservices-net

  audit-service:
    build: ./audit-service
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  notification-service:
    build: ./notification-service
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  statistics-service:
    build: ./statistics-service
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

  plagiarism-analysis-service:
    build: ./plagiarism-analysis-service
    ports:
      - "9091:9091"
    environment:
      - SPRING_RABBITMQ_HOST=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - microservices-net

volumes:
#  jenkins-data:
  grafana-storage:

networks:
  microservices-net:
    driver: bridge